/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {box-sizing:border-box}

html, body {
	font-family: 'Montserrat', sans-serif;
}

html::after {
  	content: "";
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Fallingwater_-_DSC05639.JPG/800px-Fallingwater_-_DSC05639.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  	opacity: 0.1;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: fixed;
  	z-index: -1;   
}

a:hover {
	background-color: transparent !important;
}

h1 {
	line-height: 32px;
}

p {
	font-size: 16px;
}

.topnav {
  	background-color: #333;
  	overflow: hidden;
  	position: absolute;
  	width: 100%;
  	top: 0;
  	left: 0;
}

.topnav a {
  	float: left;
  	color: #f2f2f2 !important;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.topnav a:visited {
  	color: #f2f2f2 !important;
}

.topnav a:hover {
  	background-color: #ddd !important;
  	color: #000 !important;
}

.topnav a.active {
  	background-color: #4CAF50 !important;
  	color: #fff !important;
}

.separator {
	height: 40px;
}

.slideshow-container {
  	max-width: 500px;
  	position: relative;
  	margin: auto;
  	border: solid 4px #4CAF50;
}

.mySlides {
  	display: none;
  	line-height: 0px;
}

.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	background-color: rgba(0,0,0,0.8);
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  	background-color: #000 !important;
}

.text {
  	color: #fff;
  	font-size: 15px;
  	padding: 8px 12px;
  	bottom: 0;
  	position: absolute;
  	width: 100%;
  	text-align: center;
  	background-color: rgba(0,0,0,0.8);
  	line-height: 20px;
}

.numbertext {
  	color: #fff;
  	font-size: 16px;
  	padding: 8px 12px;
  	position: absolute;
  	top: 0;
	text-shadow: 1px 1px 2px #000;
	line-height: 20px;
}

.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@media screen and (max-width: 768px) {
	img.showimage {
		width: 100%;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
  		border: solid 4px #4CAF50;
	}
}

@media screen and (min-width: 768px) {
	img.showimage {
		width: 50%;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
  		border: solid 4px #4CAF50;
	}
}

p.showtext {
	display: block;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
}

input[type=text], textarea {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border-radius: 0px;
  	border: solid 1px #333;
}

input[type=button], input[type=submit], input[type=reset] {
  	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
}

.toplink {
	font-size: 16px;
}

a.toplink {
	color: #000 !important;
	text-decoration: none !important;
}

a.toplink:visited {
	color: #000 !important;
}

a.toplink:hover {
	color: #333 !important;
	background-color: transparent !important;
}

i.material-icons {
	font-size: 12px;
}

.topbuttons {
	text-align: center;
	line-height: 0px !important;
}

.btn-group {
	display: inline-block;
	width: 100%;
}

.btn-group a {
  	background-color: #4CAF50 !important;
  	border: 1px solid green;
  	color: white !important;
  	padding: 14px;
  	float: left;
  	width: 33.33%;
  	text-decoration: none;
}

.btn-group a:hover {
	background-color: #ddd !important;
  	color: #000 !important;
}

.btn-group a:not(:last-child) {
  	border-right: none;
}

.btn-group:after {
  	content: "";
  	clear: both;
  	display: table;
}

.btn-group button:hover {
  background-color: #3e8e41;
}